html, body, .bg {
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg {
	background: url('https://cdn.discordapp.com/attachments/399314021934825487/684766057566699544/retr0_bg.png');
    background-size: cover;
}

 .wrap {
	font-size: 2em;
	text-align: center;
    padding: 12%;
    padding-bottom: 15%;
    mix-blend-mode: color-dodge;
    color: #cacadc;
    text-shadow:
		-1.5px -1.5px 0 #448,
		1.5px -1.5px 0 #448,
		-1.5px 1.5px 0 #448,
		1.5px 1.5px 0 #448;
}

kek {
	font-size: 1.85em;
	font-family: 'Trebuchet MS', Times;
	display: inline-block;
    font-weight: bold;
}

p {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Arial', Times;
    padding: 5px;
    mix-blend-mode: color-dodge;
    color: #ecc;
    text-shadow:
		-1.px -1.5px 0 #448,
		1.5px -1.5px 0 #448,
		-1.5px 1.5px 0 #448,
		1.5px 1.5px 0 #448;
    background: #112;
}

a {
	font-weight: none;
	mix-blend-mode: difference;
	color: #defd;
}
